<h4 class="rooms-title">
  <%= link_to "#{@user1.name}", user_path(@user1), class: "rooms-user-link" %> と
  <%= link_to "#{@user2.name}", user_path(@user2), class: "rooms-user-link" %> のトークルーム
</h4>
  <% @entries.each do |e| %>
</div>
<% end %>
<hr>
<div class="chats">
  <div class="chat">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <% if m.user == current_user %>
        <!-- 自分のメッセージ -->
        <div class="chat-box my-message">
          <div class="chat-hukidashi my-hukidashi">
            <strong><%= m.content %></strong><br>
            <span class="chat-time"><%= m.created_at.strftime("%Y-%m-%d %H:%M") %></span>
          </div>  
        </div>
      <% else %>
        <!-- 他人のメッセージ -->
        <div class="chat-box other-message">
          <div class="chat-hukidashi other-hukidashi"> 
            <strong><%= m.content %></strong> <br>
             <span class="chat-time"><%= m.created_at.strftime("%Y-%m-%d %H:%M") %></span>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>まだメッセージがありません。</p>
  <% end %>
 </div>
  <div class="posts">
    <%= form_with(model: @message, local: true) do |f| %>
      <%= f.text_field :content, placeholder: "メッセージを入力して下さい", size: 70, class:"form-text-field" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信", class: 'form-submit' %>
    <% end %>
    </div>
  </div>
</div>